body{
    font-family: 'Otomanopee One', sans-serif;
    margin: 0;
}
h1{ font-size: 155%}
.my-name{
    color: darkcyan;
}
.ALLAH{
    font-size: 200%;
    color: goldenrod;
}
section{
    display: flex;
    padding-right: 07%;
}
.first-section{
    width: 50%;
    padding-left: 1in;
}
h3{
    color: darkslategrey;
}
.link-button{
    color: white;
    text-decoration: whitesmoke;
    background-image: linear-gradient(darksalmon, salmon);
    padding: 10px 40px;
    border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}